@font-face {
    font-family: 'EngraversGothicBT';
    src: url('../fonts/EngraversGothicBT.ttf');
}
body {
    font-family: 'EngraversGothicBT';
    color: #333;
    font-size: 16px;
    line-height: 1.62;
    background-image: url("../images/background.png");
}
body p {
    font-family: 'Lato', sans-serif;
}
a, button {
    transition: all .3s linear;
    color: #e74c3c;
}
a:focus, a:hover {
    text-decoration: none;
    color: #32a1ed;
}
.navbar-nav a {
    text-transform: uppercase;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #002c7a;
}
.header-page-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #fff;
}
.title-page {
    font-size: 40px;
    color: #002c7a;
    margin: 20px 0;
}
.owl-carousel {
    margin-bottom: 40px;
}
.company-about-text p {
    margin-bottom: 20px;
    font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #32a1ed;
    background-color: transparent;
}
.grey-block-icons {
    background-color: #f4f4f4;
}
.grey-about-company {
    display: flex;
    justify-content: space-between;
}
.grey-about-company-item {
    width: 23%;
    position: relative;
    padding-bottom: 20px;
}
.grey-about-company-icon {
    text-align: center;
    margin-bottom: 20px;
}
.grey-about-company {
    padding: 50px 0;
}
.grey-about-company-title {
    font-size: 32px;
    color: #002c7a;
}
.grey-about-company-title i {
    color: #cf0707;
}
.grey-about-company-link button {
    background-color: transparent;
    border: none;
    color: #002c7a;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
}
.grey-about-company-link button:hover {
    color: #32a1ed;
}
.grey-about-company-link {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        font-size: 32px;
    }
}
@media (max-width: 1199px) {
    .navbar-nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        margin-right: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #002c7a;
        position: relative;
        width: 50px;
        height: 6px;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    .header-page-block {
        display: block;
    }
}