@font-face {
    font-family: 'EngraversGothicBT';
    src: url('../fonts/EngraversGothicBT.ttf');
}
body {
    font-family: 'EngraversGothicBT';
    color: #333;
    font-size: 16px;
    line-height: 1.62;
    overflow-x: hidden;
}
body p {
    font-family: 'Lato', sans-serif;
}
a, button {
    transition: all .3s linear;
    color: #e74c3c;
}
a:focus, a:hover {
    text-decoration: none;
    color: #32a1ed;
}
.navbar-nav a {
    text-transform: uppercase;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #002c7a;
}
.header-page-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #fff;
}
.title-page {
    font-size: 32px;
    color: #002c7a;
    margin: 20px 0;
    font-weight: bold;
}
.owl-carousel {
    margin-bottom: 40px;
}
.company-about-text p, .company-about-text ul {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #32a1ed;
    background-color: transparent;
}
.grey-block-icons {
    background-color: #f4f4f4;
}
.grey-about-company {
    display: flex;
    justify-content: space-between;
}
.grey-about-company-item {
    width: 23%;
    position: relative;
    padding-bottom: 25px;
}
.grey-about-company-icon {
    text-align: center;
    margin-bottom: 20px;
}
.grey-about-company {
    padding: 50px 0;
}
.grey-about-company-title {
    font-size: 26px;
    color: #002c7a;
    font-weight: bold;
}
.grey-about-company-title i {
    color: #cf0707;
}
.grey-about-company-link button {
    background-color: transparent;
    border: none;
    color: #002c7a;
    font-weight: bold;
    padding: 0;
}
.grey-about-company-link button:hover {
    color: #32a1ed;
}
.grey-about-company-link {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
button.close {
    position: relative;
    right: 10px;
    top: 8px;
    z-index: 1;
    font-size: 24px;
}
.grey-block-icons {
    margin-bottom: 50px;
}
.services-block-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.services-block-image {
    width: 48%;
}
.services-block-image img {
    width: 100%;
}
.services-block-text {
    width: 48%;
    font-size: 16px;
}
.blue-main-page-item {
    text-align: center;
    width: 26%;
    margin-bottom: 40px;
    padding-bottom: 25px;
    position: relative;
}
.blue-main-page-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.background-image-block {
    background-image: url("../images/back-service.png");
    background-size: 100%;
    padding: 60px 0 30px 0;
    margin-bottom: 50px;
}
.blue-main-page-item-title {
    color: #fff;
    font-size: 26px;
    line-height: 1;
    padding: 0 17px;
    font-weight: bold;
}
.blue-main-page-item-link a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}
.blue-main-page-item-link a:hover {
    text-decoration: none;
}
.blue-main-page-item-link i {
    margin-left: 7px;
}
.blue-main-page-item-link {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.blue-main-page-item-title span {
    display: inherit;
}
.grey-block-bottom {
    padding: 20px;
}
.image-map-block img {
    width: 100%;
}
.company-about-text {
    margin-bottom: 50px;
}
.modal-title {
    position: relative;
}
.modal-title img {
    float: left;
    margin-right: 15px;
}
.modal-body p {
    text-align: left;
}
.image-map-block {
    margin-bottom: 50px;
}
.red-icon-text-caret {
    color: #cf0707;
    font-size: 32px;
    margin-right: 8px;
}
.red-icon-text-title-word {
    font-size: 26px;
    color: #002c7a;
    line-height: 1;
    font-weight: bold;
}
.red-icons-item  {
    display: flex;
}
.red-icon-text {
    display: flex;
    align-items: baseline;
}
.red-icon-text-title a {
    color: #002c7a;
    font-weight: bold;
}
.red-icon-text-title a:hover {
    color: #32a1ed;
}
.red-icon-svg {
    margin-right: 15px;
}
.red-icons-item {
    width: 32%;
    margin-bottom: 40px;
    padding-bottom: 25px;
    position: relative;
}
.red-icon-text-title i {
    margin-left: 7px;
}
.red-icons-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.red-icon-text-title-word span {
    display: inherit;
}
.red-icon-text-title a {
    position: absolute;
    bottom: 0;
}
.main-contact-block {
    background-image: url("../images/main-contact.png");
    background-size: 100%;
    padding: 60px 0 30px 0;
}
.title-page-white {
    color: #fff;
}
.city-contact-item {
    width: 24%;
}
.city-contact-item img {
    width: 100%;
    border: 3px solid #32a1ed;
    transition: all .3s linear;
}
.city-contact-item img:hover {
    transform: rotate(3deg);
}
.city-flex-contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.inputs-footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.inputs-footer-title, .input-footer-item {
    width: 24%;
}
.inputs-footer-title .grey-about-company-title span{
    color: #fff;
} 
.input-footer-item input {
    width: 100%;
    font-family: 'Lato', sans-serif;
    padding: 5px 12px;
    border: 2px solid #cf0707;
}
.footer-send-block {
    text-align: right;
    margin-bottom: 30px;
}
.footer-send-block button {
    color: #fff;
    background-color: #32a1ed;
    border: 3px solid #32a1ed;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    padding: 3px 40px;
}
.footer-send-block button:hover {
    background-color: transparent;
}
.city-contact-title {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.copyright-footer-link a {
    text-decoration: underline;
    color: #fff;
}
.copyright-footer-link a:hover {
    text-decoration: none;
}
.copyright-footer {
    color: #fff;
    text-align: center;
}
.main-banner {
    margin: 40px 0;
}
.main-banner img {
    width: 100%;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
    }
}
@media (max-width: 1199px) {
    .navbar-nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .grey-about-company-title {
        font-size: 30px;
    }
    .red-icons-item {
        width: 48%;
    }
}
@media (max-width: 991px) {
    .grey-about-company {
        flex-wrap: wrap;
    }
    .grey-about-company-item {
        width: 48%;
        margin-bottom: 30px;
    }
    .services-block-flex {
        flex-wrap: wrap;
    }
    .services-block-image, .services-block-text {
        width: 100%;
    }
    .services-block-image {
        margin-bottom: 20px;
    }
    .blue-main-page-item {
        width: 48%;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        margin-right: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #002c7a;
        position: relative;
        width: 50px;
        height: 6px;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    .header-page-block {
        display: block;
    }
    .red-icons-item {
        width: 100%;
    }
    .city-flex-contact, .inputs-footer-block {
        flex-wrap: wrap;
    }
    .city-contact-item {
        width: 48%;
        margin-bottom: 20px;
    }
    .inputs-footer-title, .input-footer-item {
        width: 48%;
        margin-bottom: 20px;
    }
}
@media (max-width: 500px) {
    .grey-about-company-item {
        width: 100%;
    }
    .blue-main-page-item {
        width: 100%;
    }
    .blue-main-page-item-title {
        font-size: 30px;
    }
    .city-contact-item, .inputs-footer-title, .input-footer-item {
        width: 100%;
    }
    .red-icons-item {
        flex-direction: column;
    }
    .red-icon-svg {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
}